<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Plants Table</h4>
      <a class="" (click)="onCreate()" href="javascript:void(0)">
        <i class="material-icons">add_box</i>
        <!-- <p class="card-category">ADD NEW CATEGORY</p> -->
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Species</th>
            <th>Description</th>
            <th>Published</th>
            <th>Last Update</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let plant of plants">
              <td>{{plant.species}}</td>
              <td>{{plant.description}}</td>
              <td class="text-primary">{{plant.created | date: 'short'}}</td>
              <td class="text-primary">{{plant.lastUpdated | date: 'short'}}</td>
              <td>
                <a class="" href="javascript:void(0)" (click)="onEdit(plant)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDelete(plant)">
                  <i class="material-icons">delete</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDetails(plant)">
                  <i class="material-icons">list</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
