<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a class="w3-bar-item w3-button w3-padding" routerLink="/statistics"><i
            class="fa fa-calculator fa-fw"></i> Statistics & search </a>
        <a class="w3-bar-item w3-button w3-padding" routerLink="/todo-tab"><i class="fa fa-list fa-fw"></i>To Do List</a>
        <a class="w3-bar-item w3-button w3-padding" routerLink="/photos-tab"><i class="fa fa-photo fa-fw"></i>Photos</a>
    </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div style="position:left;">
    <app-plants-counter></app-plants-counter>
    <app-gardens-counter></app-gardens-counter>
    <app-sensors-counter></app-sensors-counter>
    <app-users-counter></app-users-counter>
    <app-popularity></app-popularity><br><br><br><br><br><br><br>
    <div style="text-align:left;margin-left:50px;margin-top:43px;">
    <app-gardens-view></app-gardens-view>
    <app-users-list></app-users-list>
    </div>
    </div>
</div>
