<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create New Comment</h4>
            <p class="card-category">Complete your comment</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>User</mat-label>
                    <mat-select #userName [value]="userFor" [disabled]="isEditableUser">
                      <mat-option *ngFor="let user of users" [value]="user._id">
                        {{user.firstName + ' ' + user.lastName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Post</mat-label>
                    <mat-select #postID [value]="postFor" [disabled]="isEditablePost">
                      <mat-option *ngFor="let post of posts" [value]="post._id">
                        {{post._id}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field class="example-full-width">
                    <input #postID [value]="post" [disabled]="isEditable" matInput placeholder="post ID" />
                  </mat-form-field> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea
                      #content
                      rows="5"
                      matInput
                      placeholder="Content"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="
                  onCreate(
                    userName.value,
                    postID.value,
                    content.value
                  )
                "
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Create
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
