

  
  <div class="col-sm-12" style="text-align:center; font-size:20px">
    Register
  </div>
  <div class="col-sm-12">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <br/>
      <div class="form-group">
          <label for="exampleInputUsername"></label>
          <input formControlName="name" type="text" class="form-control" id="exampleInputname" aria-describedby="userHelp" placeholder="Name">
          <small id="userHelp" class="form-text text-muted"></small>
      </div>       <br/>
      <div class="form-group">
        <label for="passwordInput"></label>
        <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="Password">
        <small id="passHelp" class="form-text text-muted"></small>
      </div>      <br/>
      <div class="form-group">
        <label for="secretkey"></label>
        <input formControlName="secretkey" type="text" class="form-control" id="secretkeyInput" aria-describedby="userHelp" placeholder="Secret Key">
        <small id="userHelp" class="form-text text-muted"></small>
    </div>       <br/>
      <div class="form-group" style="text-align:center;">
          <button type="button" class="btn btn-dark" (click)="register()">Register</button>
      </div>
    </form>
  </div>
<br/>
  <div>
    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Already have an account? Login!</a>
  </div>
 
 