<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">

  <div>
    <a class="navbar-brand admin" >Admin Panel - statistics and information</a>
    <ul class="navbar-nav mr-auto ">
    </ul>
    <div class="" *ngIf="!isLogin">
      <button class="btn center" type="button" (click)="showLogin()">Login</button>
    </div>
    <div class="my-2 my-lg-0" *ngIf="isLogin">
      <button class="btn right" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>