p{
    font-size:large;
    text-decoration-line: underline;
}
h4{
    font-size:medium;
 }
 
 select{
    margin: 2%;
     display:inline;
     width: 150px;
     height: 30px;
    padding: 1px;
     border: 1px solid blueviolet;  
     background-color: white; 
 }
 

 