p{
    font-size:large;
    text-decoration-line: underline;
}
h4{
    font-size:medium;
 }
 button{
   margin: 1%;
border: white;
   padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
 }
  
 
 select{
    margin: 2%;
     display:inline;
     width: 150px;
     height: 30px;
    padding: 1px;
     border: 1px solid blueviolet;  
     background-color: white; 
 }
 

 